@using LearnEnglish.Localize
@using LearnEnglish.Services

@inject UserService userService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/registration.js"></script>
    <script src="~/js/localize.js"></script>

    @RenderSection("Head", false)
</head>
<body>
    <header>
        <ul class="menu-main">
            <li><a href="Home/Index">Learn English</a></li>
            <li><a href="General/Video">Video</a></li>
            <li><a href="General/Audio">Audio</a></li>
            <li><a href="">Text</a></li>
        </ul>
    </header>
    <div class="center-block">
        <div class="right-menu">

            @if (!User.Identity.IsAuthenticated)
            {
                <a href="/User/Registration">@General.Registration</a>
                <a href="/User/Login">@General.Login</a>
            }

            <a href="/Book/Books">@General.Books</a>
            <a href="/Test/Select">@General.Tests</a>
            <a href="">@General.Lessons</a>

            @if (userService.IsAdmin())
            {
                <a href="/User/All">@General.All_users</a>
                <a href="/BankCard/BankCardAll">@General.Bank_cards_all</a>
            }

            @if (userService.IsModerator())
            {
                <a href="/Lesson/Add">@General.Lessons_add</a>
                <a href="/Test/Add">@General.Test_add</a>
            }

            @if (User.Identity.IsAuthenticated)
            {
                @if (userService.IsModerator() || userService.IsAdmin())
                {
                    <a href="/User/Logout">@General.Exit</a>
                }
                else
                {
                    <a href="/UserProfile/MyProfile">@General.Profile</a>
                    <a href="/Lesson/Select">@General.Lesson_for_select</a>
                    <a href="/User/SelectedLessons">@General.My_lessons</a>
                    <a href="/BankCard/BankCardAdd">@General.Add_bank_card</a>
                    <a href="/BankCard/BankCardGet">@General.My_bank_cards</a>
                    <a href="/Book/Add">@General.Book_add</a>
                    <a href="/User/Logout">@General.Exit</a>
                }
            }

        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <div class="footer">
        <span class="rights">
            © All rights reserved - LearnEnglish - TMS2021
        </span>

        <span>
            Language
            <select class="language">
                <option value="ru-RU">Русский</option>
                <option value="en-EN">English</option>
                <option value="pl-PL">Polskie</option>
            </select>
        </span>

        <span class="contacts">
            <span class="social-media">
                <a href="https://facebook.com"><img class="footer-icon" src="/image/icon/facebook.png"></a>
                <a href="https://instagram.com"><img class="footer-icon" src="/image/icon/instagram.png"></a>
                <a href="https://telegram.org"><img class="footer-icon" src="/image/icon/telegram.png"></a>
            </span>
        </span>
    </div>
</body>
</html>