@using LearnEnglish.Localize

@model LearnEnglish.Models.User.DeniedViewModel
<h2>No access</h2>
<div>
    @General.Dear @Model.UserName @General.Bad_access.
    @General.Request_time: @Model.RequestTime.ToShortTimeString()
</div>