@using LearnEnglish.Localize
@using LearnEnglish.Models.BankCard

@model List<BankCardGetViewModel>

<table border="1" align="center" cellspacing="0" cellpadding="10">
    <caption align="center">@BankCard.Info_Bank_Card</caption>
    <tr>
        <th>@BankCard.Id_Card</th>
        <th>@BankCard.Number_Of_Card</th>
        <th>@BankCard.Validity_Month</th>
        <th>@BankCard.Validity_Year</th>
        <th>@BankCard.Id_Owner</th>
        <th></th>
    </tr>
    @foreach (var card in Model)
    {
        <tr>
            <th>@card.Id</th>
            <th>@card.CardNumber</th>
            <th>@card.ValidityMonth</th>
            <th>@card.ValidityYear</th>
            <th>@card.OwnerId</th>
            <th>
                <input class="button"
                       type="button"
                       value="@BankCard.Delete_Сard"
                       onclick="location.href='/BankCard/BankCardDelete?id=@card.Id'" />
            </th>
        </tr>
    }
    <tr>
        <th>
            <a href="/BankCard/DownloadBankCard">@BankCard.Save_file_doc</a>
        </th>        
    </tr>
</table>