@model LearnEnglish.Models.Test.TestAddViewModel


<form class="form" action="/Test/Add" method="post">
    <div>
        Enter question @Html.TextBoxFor(x => x.Question)
    </div>
    <div>
        Enter answer true @Html.TextBoxFor(x => x.AnswerTrue)
    </div>
    <div>
        Enter answer false @Html.TextBoxFor(x => x.AnswerFasle)
    </div>
    <div>
        Enter second answer false @Html.TextBoxFor(x => x.AnswerFasleSecond)
    </div>
    <div>
        Enter third answer false @Html.TextBoxFor(x => x.AnswerFasleThird)
    </div>
    <div>
        <input type="submit" name="Create" />
    </div>
</form>